/* main.scss */
@import 'variables';

html, body {
  height: 100%;
}

#app, .map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.map-panel {
  width: 300px;
  z-index: 1005;
}

/* errors */
.error {
  margin-bottom: 10px;
  padding-bottom: 3px;
  color: $error-highlight-color;
}

.error-message {
  background: $error-background-color;
  padding: 8px;
}
