/* menu.scss */

#menu-panel {
  width: 500px;
  max-width: 500px;
  top: 15px;
  left: 15px;
  position: fixed;
  margin: 0;

  .brand-logo {
    margin-left: 10px;
  }

  textarea {
    resize: none;
  }
}

.tabs .indicator {
  background-color: #448AFF;
}

/* awful hack to style the textarea border-bottom color */
.materialize-textarea:focus {
  border-bottom: 1px solid #448AFF !important;
  box-shadow: 0 1px 0 0 #448AFF !important;
}
