/* menu.scss */
@import 'variables';

#menu-panel {
  width: 500px;
  max-width: 500px;
  top: 15px;
  left: 15px;
  position: fixed;
  margin: 0;
  max-height: 90%;
  height: auto;

  .card-content {
    height: 100%;
  }

  .brand-logo {
    margin-left: 10px;
  }

  #jsonContainer {
    position: relative;
    height: auto;
  }

  .editor-container {
    position: relative;
    height: 100%;
    margin-bottom: 5px;
    border-bottom: 1px solid $accent-color !important;
    box-shadow: 0 1px 0 0 $accent-color !important;
  }
}
