
/* pallette
.dark-primary-color    { background: #C2185B; }
.default-primary-color { background: #E91E63; } pink
.light-primary-color   { background: #F8BBD0; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #448AFF; } blue
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; } */

$accent-color: #448AFF;
$error-highlight-color: #d50000;
$error-background-color: #ffcdd2;
