/* main.scss */
@import 'variables';

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#app, .map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

.map-panel {
  width: 300px;
  z-index: 1005;
  margin: 0;
}

/* errors */
#editErrors {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 80px;
}

.error {
  color: $error-highlight-color;
}

.error-message {
  background: $error-background-color;
  padding: 8px;
}
